*{
    margin: 0%;
    padding: 0%;
}


.container{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    font-weight: 900;
    background-color: black;
    color: white;
    margin: 0%;
}    

.portfolio{
    margin-left: 10px;
}

.text{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.naruto-img{
    display: flex;
    align-items: center;
}

.hero-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.body{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-around;
    background-image: url(./bg-img.jpg);
    background-size: 100% 500px;
    color: white;

}

.info{
    font-size: 50px;
    align-self: center;
}

#skills{
    display: flex;
    background-image: url(./bg-img.jpg);
    height: 500px;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
}

.html , .css , .js {
    height: 300px;
    width: 300px;
    background-color: white;

}


#skills > .html > h2 , #skills > .css > h2 , #skills > .js > h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.htmlabout , .cssabout , .jsabout{
    margin-top: 5px;
    margin-left: 10px;
    font-size: larger;
}